h1 {
    background-color: plum;
    border: 1px solid rgb(216, 16, 83);
    width: 70%;
    margin: 0 auto;
}
p {
    font-size: 18pt;
}
.mult3{ 
    font-size: 24pt;
    color: palevioletred;
}
#especial {
    background-color: pink;
}