/*
#teste{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
    left: 200px;
}
*/
html, body{
    margin: 0px;
    padding: 0px;
}
#princ{
    width: 80%;
    height: 100%;
    min-width: 320px;
    margin-left: 10% ;
    border: 2px dotted darkcyan;
    position: absolute;
}
#header{
    background-color: aqua;
    height: 10%;
    min-height: 50px;
    background: linear-gradient(rgb(147, 85, 153), rgb(253, 251, 253));
    font-size: 2em;
    color: blueviolet;
    text-align: center;
}
#div1{
    background-color: aquamarine;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: blueviolet;
}
#div4{
    background-color: rgb(20, 137, 240);
}
#rodape{
    position: fixed;
    bottom: 0px;
    background-color: palevioletred;
    height: 10%;
    min-height: 50px;
}
.interna{
    width: 25%;
    padding: 0.5em;
    height: 80%;
    border: 2px solid plum;
    border-radius: 1em;
    position: relative;
    float: left;
    box-sizing: border-box;
    overflow: auto;
}

