li {
    border: 2px black solid;
    width: 400px;
}
#ul {
list-style-type: square;
list-style-image: inside;
}
#ul2 {
    list-style-image: url('http://k19.br/figs/k02-logo-small.png');
}
ol {
    list-style-type: upper-roman;
}